
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
</head>
<body>
  <h1>@ViewBag.Greeting World</h1>
  <p>@(ViewBag.Email)</p>
  <p>contact me at test@example.com</p>
  <p>@(ViewBag.Hour > 12 ? "afternoon" : "morning")</p>
  <p>@@YoiBoi</p>
</body>
</html>
